@font-face {
    font-family: 'JO';
    src: url('JosefinSlab-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'JON';
    src: url('JosefinSlab-VariableFont_wght.ttf') format('truetype');
}

header{
    text-align: center;
    padding: 1%;
    background-color: rgb(233, 198, 0);
    color: rgb(67, 58, 6);;
    font-style: italic;
    font-size: 5vMAX;
    font-family: 'JO';
    border: solid rgb(67, 58, 6) 5px;
    border-bottom: 0;
    border-radius: 5px;
    border-bottom-right-radius:0 ;
    border-bottom-left-radius:0 ;

}

body{
    background-color: black;
}

nav{
    background-color: rgb(41, 40, 40);
    border-radius: 5px;
    font-size: 1vw;
    border-top: 0;

}

nav ul{

    border-radius: 5px;
    border-top-left-radius:0 ;
    border-top-right-radius:0 ;
    border: solid rgb(67, 58, 6) 5px;
    border-top: 0;
    list-style-type: none;
    
    margin: 0;
   
    padding: 1vmax;
    padding-bottom: 0vmax;
    overflow: hidden;
    background-color: rgb(99, 75, 14);
}

nav li{
    float: left;
    padding-right: 1%;
    padding-left: 3%;
    font-size: 1.5vmax;
    padding-bottom: 0%;
}

nav li a{
    border-radius: 10px;
    
   
    margin: auto;
    display: block;
    color: gold;
    text-align: center;
    padding: 16px;
    
    font-family: 'JON';
}

.menu{
    border-radius: 10px;
    float: right;
    margin: auto;
    padding-bottom: 0%;
    font-size: 3vmax;
    color: gold;
    text-align: center;
    padding: 16px;
    padding-bottom: 0%;
    display: none;
    font-family: 'JON';
}

.menu:hover{
    color: rgb(0, 0, 0);
    background-color: gold;
    transform: scale(1.5);
    transition: 1.3s;
}

nav Li a:hover{
    color: rgb(0, 0, 0);
    background-color: gold;
    transform: scale(1.5);
    transition: 1.3s;
}

.carro{
    float:right;
}

table{
    color: gold;
    padding-bottom: 6%;
    font-family: 'JON';
    margin: auto;
    padding-top: 3vmax;
}

td, tr{
    padding: 30px;
    border: solid rgb(99, 75, 14);

}

th{
    
    margin:50px;
    
    border: solid rgb(99, 75, 14);
}

table img{
    width: 10vw;
    height: auto;
    margin-left: 0%;
    transition: 0.5s;
    object-fit: cover;
  
}

img:hover{
    left: 50%;
    transform: scale(250%);
}


footer{
    background-color: rgb(99, 75, 14);
    color: gold;
    padding: 30px;
    overflow: hidden;
    margin: 0;
    border: solid rgb(67, 58, 6) 5px;
    border-radius: 5px;
}

footer a{
    margin-left: 30px;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 10%;
}

footer a:visited{
    color: gold;
}

footer a:hover{
    background-color: gold;
    color:  rgb(99, 75, 14);;
}

a:link{
    color: gold
}

@media (max-width: 687px) {
    nav li a{
        display: none;
    }
    .menu{
        display: block;
    }
    
}
