@font-face {
    font-family: 'JO';
    src: url('JosefinSlab-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'JON';
    src: url('JosefinSlab-VariableFont_wght.ttf') format('truetype');
}


header{
    text-align: center;
    margin-bottom: 0;
    padding: 1%;
    margin-top: 0;
    background-color: rgba(248,191,184,255);
    color: rgb(67, 58, 6);
    font-style: italic;
    font-size: 5vMAX;
    font-family: 'JO';
    border: solid rgb(67, 58, 6) 5px;
    border-bottom: 0;
    border-radius: 5px;
    border-bottom-right-radius:0 ;
    border-bottom-left-radius:0 ;

}

body{
    background-color: rgb(252, 223, 220);
    margin: 0;
    padding: 0;
}

nav{
    border-radius: 5px;
    font-size: 1vw;
    border-top: 0;
    background-color: rgba(211,127,127,255);

}

nav ul{

    border-radius: 5px;
    border-top-left-radius:0 ;
    border-top-right-radius:0 ;
    border: solid rgb(67, 58, 6) 5px;
    border-top: 0;
    list-style-type: none;
    margin: 0;
    padding: 1vmax;
    padding-bottom: 0vmax;
    overflow: hidden;
}

nav li{
    float: left;
    padding-right: 1%;
    padding-left: 3%;
    font-size: 1.5vmax;
    padding-bottom: 0%;
}

nav li a{
    border-radius: 10px;
    
   
    margin: auto;
    display: block;
    color: rgb(67, 58, 6);
    text-align: center;
    padding: 16px;
    margin-top: 0;

    font-family: 'JON';
}

.menu{
    border-radius: 10px;
    float: right;
    margin: auto;
    padding-bottom: 0%;
    font-size: 3vmax;
    color: rgb(67, 58, 6);
    text-align: center;
    padding: 16px;
    padding-bottom: 0%;
    display: none;
    font-family: 'JON';
}

.menu:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(248,191,184,255);
    transform: scale(1.5);
    transition: 1.3s;
}

nav Li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(248,191,184,255);
    transform: scale(1.5);
    transition: 1.3s;
}

.carro{
    float:right;
}

#bot{
    
    position: fixed;
    bottom: 50vmin; 
    right: auto;
    left: 83vw;
    color: rgb(67, 58, 6);
    background-color: rgba(248, 191, 184, 255);
    border-radius: 2vw / 3vw;
    padding: 1vw 2.4vw;
    
    cursor: pointer;
    z-index: 1000; 

}

#pe{
    position: fixed;
    bottom: 40vmin;
    right: auto; 
    left: 83vw;
    color: rgb(67, 58, 6);
    background-color: rgba(248, 191, 184, 255);
    border-radius: 2vw / 3vw;
    padding: 1vw 2.4vw;
    z-index: 1000;
}


@media (max-width:701px){


    #tdd form input{
        width: 9vw;
    }

    #bot{
       position: static;
        bottom: 25vw;
        
        justify-content: center;

        
    }

    #pe{
        position: static;
        bottom: 25vw;
        
        justify-content: center; 
        margin-right: 84%;
        padding: 1vw;
       

    }
    

}

table{
    color: rgb(67, 58, 6);
    padding-bottom: 6%;
    font-family: 'JON';
    margin-right: 25%;
    margin-left: auto;

    padding-top: 3vmax;
}

input{
    width: 4vw;
}

td, tr{
    padding: 2vw;
    padding-bottom:0 ;
    padding-top: 0%;
    border: solid rgb(99, 75, 14);
    text-align: center;
    
}

th{
    
    margin:50px;
    
    border: solid rgb(99, 75, 14);
}

table img{
    width: 10vw;
    height: auto;
    margin-left: 0%;
    transition: 0.5s;
    object-fit: cover;
  
}

img:hover{
    left: 50%;
    transform: scale(250%);
}


footer{
    color: rgb(67, 58, 6);
    border: solid rgb(67, 58, 6) 5px;
    border-radius: 5px;
    background-color: rgba(211,127,127,255);
    position: relative;
    
    bottom: 0;
    left: 0;
    width: auto;
    padding: 10px;
    text-align: center;
}

footer a{
    margin-left: 30px;
    text-decoration: none;
    border-radius: 10%;
    
}

footer a:visited{
    color: rgb(67, 58, 6);
}

footer a:hover{
    background-color: rgba(248,191,184,255);
    transition: 1.3s;
    transform: scale(1.5);
    color:  rgb(99, 75, 14);;
}

a:link{
    color: rgb(67, 58, 6) 5px;;
}

@media (max-width: 687px) {
    nav li a{
        display: none;
    }
    .menu{
        display: block;
    }
    
}
